<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>クイズ</title>
    <link rel="stylesheet" href="../css/Quiz.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  </head>
  <body>
    <section class="container">
      <p id="question"></p>
      <ul id="choices">
      </ul>
      <div id="btn" class="disabled">次に進む</div>
      <section id="result">
        <p>score: 3 / 3</p>
        <a href="">リプレイ</a>
      </section>
    </section>
    <script src="../js/Quiz.js"></script>
  </body>
</html>