<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>my vue js</title>
    <link rel="stylesheet" href="../css/vuejs.css">
    <style>
      .warning1{
        background-color: red;
      }
      .warning2{
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <div id="app">

      <!-- ループ分(v-for) -->
      <ul>
        <li v-for="(person, i) in persons">
          {{ i + 1 }}{{ person.name }}({{ person.age }}歳)
        </li>
      </ul>

      <!-- イベントの書き方(v-on 省略は@) -->
      <div>{{ counter }}</div>
      <div>
        <button @click="increment">1を足す</button>
      </div>
      
      <!-- 属性バインディング(v-bind 省略は:) -->
      <img :src="imagepath" :width="width">
      <div>
        <button @click="clickdog">いぬ</button>
        <button @click="clickcat">ねこ</button>
        <button @click="wideimage">幅を600pxにする</button>
      </div>

      <!-- class属性のバインディング -->
      <div :class="styleObject">これは警告です</div>
      <div>
        <button @click="devide">切り替える</button>
      </div>

      <!-- 条件付きレンダリング(v-if と v-show) -->
      <input v-if="formDisplay === 'true'" type="text" placeholder="true">
      <input v-else-if="formDisplay === 'false'" type="text" placeholder="false">
      <input v-else type="text" placeholder="その他">
      <div>
        <button @click="change">フォーム表示</button>
      </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        methods: {
          increment: function(){
            this.counter++;
          },
          clickdog: function(){
            this.imagepath = "https://tk.ismcdn.jp/mwimgs/e/b/1140/img_eb31afc9c1fb914d68a7c73b657c7ebe183087.jpg";
          },
          clickcat: function(){
            this.imagepath = "https://dol.ismcdn.jp/mwimgs/a/f/-/img_afa0fad37e6c4d5ce34c01faf54f9e79108563.jpg";
          },
          wideimage: function(){
            this.width = "600px"; 
          },
          devide: function(){
            // boolean値をひっくり返す「!」
            this.styleObject.warning = !this.styleObject.warning;
          },
          change: function() {
            this.formDisplay = !this.formDisplay
          }
          
        },
        data: {
          formDisplay: "false",
          warningClass: "warning1",
          styleObject: {
            warning: false,
          },
          url: "https://jp.vuejs.org/v2/guide/",
          counter: 0,
          imagepath: "",
          width: "300px",
          persons: [
            {
            name : "吉田",
            age : 24,
            address: {
              prefecture: "埼玉県",
              city: "所沢市",
              town: "上新井",
            }
          },
            {
            name : "佐藤",
            age : 24,
            address: {
              prefecture: "埼玉県",
              city: "所沢市",
              town: "上新井",
            }
          },
            {
            name : "鈴木",
            age : 24,
            address: {
              prefecture: "埼玉県",
              city: "所沢市",
              town: "上新井",
            }
          },
        ]
        }
      })
    </script>
  </body>